@using MVCHoldem.Web.ViewModels
@model ManageViewModel
@{
    ViewBag.Title = "Manage";
}

<h3>@ViewBag.Title.</h3>

<p class="text-success">@Model.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @Html.ActionLink("Change your password", "ChangePassword")
        </dd>
    </dl>
</div>
